@import "../../style/variables";

.signup-with-google {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding-block: 1.5rem;
  background: transparent;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: 600;
  border: 1px solid $dark;
  cursor: pointer;

  &[disabled="true"] {
    cursor: default;
  }
}
