// SASS variables will go here.

// colors

$dark: #171d29;
$gray: #f8f9fd;
$green: #23c55e;
$lightGreen: #bbedcd;
$white: #ffffff;
$error: #f45156;
$veryLightRed: #ff848810;
$fountainWhite: #e8e8ea;
$smoke: #b7b9bd;
$blue: #454a54;
$light-gray: #e9f9ef;

//measurements
$desktopHeight: 800px;
$mobiletopHeight: 600px;
