// SASS variables will go here.

// colors

$dark: #171d29;
$gray: #f8f9fd;
$green: #23c55e;
$lightGreen:#bbedcd;
$white: #ffffff;
$error: #f45156;
$veryLightRed: #f4515610;
$fountainWhite: #E8E8EA;


//measurements
$desktopHeight:800px;