@import "../../style/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4rem;
  width: 100%;

  .brand {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Sharpie", sans-serif;
    color: $green;
    text-decoration: none;
  }
}
