@import "../../style/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  width: 100%;
  box-shadow: 2px 2px 10px rgb(155, 151, 151);

  .brand {
    font-size: 40px;
    font-weight: 700;
    font-family: "Sharpie", sans-serif;
    color: $green;
    text-decoration: none;
  }

  .user-container {
    display: flex;
    align-items: center;
    gap: 24px;

    .bell-container {
      width: 70px;
      aspect-ratio: 1;
      background-color: $green;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        color: $gray;
      }
    }

    .profile-image {
      width: 70px;
      aspect-ratio: 1;
      background-color: $gray;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 30px;
      font-family: "Montserrat", sans-serif;
      color: $green;
    }
  }
}

@media (max-width: 426px) {
  .header {
    padding: 1rem;
    .brand {
      font-size: 24px;
    }
    .user-container {
      .profile-image {
        font-size: 20px;
        font-weight: 500;
        width: 60px;
      }
    }
  }
}
