@import "../../style/variables";

.input {
  padding: 20px 16px;
  background-color: $gray;
  border-radius: 12px;
  font-family: "Montserrat";
  font-size: 1.25rem;
  border: none;
  width: 100%;
  color: $dark;
}

.input::placeholder {
  color: $dark;
  opacity: 50%;
  font-weight: 500;
}
