@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
:root {
  --green: #23c55e;
  --text-color: #171d29;
  --lighter-green: #00511e;
  --form-background: #F8F9FD;
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
body {
  font-family: "Montserrat", sans-serif;
}

.mainContainer {
  width: 100%;
  display: flex;
  height: 900px;
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    .bannerSide {
      width: 500px;
      height: 100%;
      .greenBackground {
        width: 100%;
        background-color: var(--green);
        height: 100%;
        border-radius: 0 80px 80px 0;
        font-size: 45px;
        padding-top: 100px;
        padding-left: 35px;
        font-family: 'Ojuju';
        color: var(--form-background);
        font-style: italic;
        font-weight: 700;
        .slogan{
            font-family: "Montserrat";
            font-size: 18px;
            padding-left: 20px;
            font-weight: 500;

        }
      }
      .heroLogin {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 578px;
        animation: moving 3s infinite;
        animation-timing-function: ease;
        /* animation-delay: .5s; */
      }
    }

    .loginSection {
      width: 55%;
      min-width: 30%;
      /* height: 70%; */
      display: flex;
      .loginContainer {
        width: 85%;
        margin: 0 auto;
        margin-left: 50px;
        /* justify-self: flex-end; */
        display: flex;
        flex-direction: column;
        gap: 20px;
        .headingSection {
          display: flex;
          flex-direction: column;
          gap: 13px;
          h1 {
            font-size: 40px;
            font-weight: 500;
          }

          h3 {
            font-size:18px;
            font-weight: 400;
          }
        }

        .googleAuth {
          background-color: #fff;
          color: var(--text-color);
          border: 1px solid var(--text-color);
          border-radius: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin: 0 auto;
          transition: all 0.3s ease-in-out;
          a {
            font-weight: 600;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 100%;
            text-decoration: none;
            color: var(--text-color);
            transition: all 0.3s ease-in-out;
            img{
                width: 25px;
            }
          }

          &:hover {
            background-color: var(--lighter-green);
            color: #ffffff;
            a {
              color: #ffffff;
            }
          }
        }

        .or {
            margin-top: 10px;
          span {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: -10px;
            width: fit-content;
            padding: 0 5px;
            background-color: #ffffff;
          }
        }
        .formSection {
          display: flex;
          flex-direction: column;
          align-items: center;

          .loginForm {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .email,
            .password {
              display: flex;
              flex-direction: column;
              gap: 3px;
              .forgotPass{
               margin: 10px 0 5px 0;
                a{
                    color: #23c55e;
                    text-decoration: none;
                    border-bottom: 1px solid;
                    transition: color .3s ease;
                   &:hover{
                    color: var(--lighter-green);
                   }

                }
              }
              label{
                font-size: 16px;
                color: #434c5f;
              }
              input[type="email"], input[type="password"]{
                height: 45px;
                border: none;
                border-radius: 12px;
                background-color: var(--form-background);
                padding: 20px 15px 20px;
                font-size: 16px;
                &::placeholder{
                    color: var(--text-color);
                    opacity: .5;
                   
                }
                &:focus{
                    outline: none;
                    caret-color: var(--green);
                    background-color: var(--form-background);
                }
              }
            }

           .sign{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            width: 100%;
            text-align: center;
            button.login{
                padding: 20px 0;
                border: 1px solid #ffffff;
                font-size: 16px;
                cursor: pointer;
                width: 60%;
                border-radius: 12px;
                background-color: var(--green, #23c55e);
                color: var(--white, #ffff);
                font-weight: 600;
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: var(--form-background);
                    border: 1px solid var(--green);
                    background-color: var(--lighter-green, #fff);
                }
                

            }
            .signUp{
                color: var(--text-color);
                .signUpLink{
                    color: var(--green, #23c55e);
                    transition: all .3s linear;
                    &:hover{
                        text-decoration: underline;
                        color: var(--lighter-green);
                    }
                }
            }
           }
          }
        }
      }
    }
  }
}


a{
    text-decoration: none;
}


@media (max-width:1024px) {
  .mainContainer{
    .container{
        .bannerSide{
            width:40%;
            min-width: 200px;

            .greenBackground{
                font-size: 35px;
                .slogan{
                    font-size: 18px;
                    padding-right: 10px;
                }
            }

            .heroLogin{
                width: 117%;
                min-width: 78px;
            }
           }
    }
  }
}


@media (max-width:768px) {
    .mainContainer{
        height: 600px;
        .container{
            .bannerSide{
                .greenBackground{
                    font-size: 25px;
                    .slogan{
                        font-size: 13px;
                    }
                }
        
                
            }

            .loginSection{
                .loginContainer{
                    gap: 15px;
                    .headingSection{
                        h1{
                            font-size: 30px;
                        }
                        h3{
                            font-size: 12px;
                        }
                    }
                    .googleAuth{
                        a{
                            padding: 10px;
                        }
                    }

                    .formSection{
                        .loginForm{
                            .email,.password{
                                label{
                                    font-size: 14px;
                                }
                                input[type="email"], input[type="password"]{
                                    font-size: 14px;
                                    height: 40px;
                                }

                                .forgotPass{
                                    a{
                                        font-size: 14px;
                                    }
                                }
                            }

                            .sign{
                                gap:10px;
                                button.login{
                                    padding: 15px;
                                }
                                .signUp{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}





/* Animation goes here */
@keyframes moving {
    0%{
        scale: 1;
    }
 50%{
        scale: 1.010;
    }
    100%{
        scale:1;
    }
}

/* Animation ends here */