@import "../../../../style/variables";

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .button-container {
    margin-top: 3rem;
    width: 60%;
    align-self: center;

    @include sm {
      margin-top: 1.5rem !important;
      width: 100% !important;
    }
  }

  @include sm {
    gap: 1rem;
  }
}
