.mainContainer{
    width: clamp;

    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
}
@media (max-width:426px) {
    .mainContainer{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}