<<<<<<< HEAD
.mainContainer{
    width: clamp;

    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
=======
.mainContainer {
  width: 90%;
  margin: 0 auto 30px;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 426px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
>>>>>>> 43fe6c23fbe93ba7c7f103fe9a05fff6940905f7
}
