@import "../../../../style/variables";

.rsvp-form {
  & > div:first-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 28px;
    row-gap: 24px;

    .guest-info-container {
      display: flex;
      gap: 24px;

      .guest-input-container {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .info {
          display: flex;
          align-items: center;
          gap: 4px;
          font-size: 12px;
          font-family: "Montserrat";
          margin-top: 4px;

          span {
            font-size: inherit;
          }

          .icon {
            color: #fcae1e;
          }
        }
      }

      @include sm {
        gap: 1rem;
        flex-direction: column;
      }
    }
    .note-container {
      grid-row: span 2;

      div {
        height: 100%;
      }
    }

    @include sm {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }

  .attendance-container {
    margin-top: 40px;

    h3 {
      font-size: 2.5rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;

      @include sm {
        font-size: 1.5rem;
      }
    }

    .radio-buttons-container {
      margin-top: 20px;
      display: flex;
      gap: 24px;
      width: 100%;

      @include sm {
        gap: 1rem;
        flex-wrap: wrap;
      }
    }
  }

  .button-container {
    margin-top: 48px;
    margin-inline: auto;
    width: 40%;

    @include sm {
      width: 100%;
    }
  }
}
