@import "../../../../style/variables";

.create-event-form {
  & > div:first-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 28px;
    row-gap: 24px;

    .guest-info-container {
      display: flex;
      gap: 24px;

      .guest-input-container {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .info {
          display: flex;
          align-items: center;
          gap: 4px;
          font-size: 12px;
          font-family: "Montserrat";
          margin-top: 4px;

          span {
            font-size: inherit;
          }

          .icon {
            color: #fcae1e;
          }
        }
      }
    }
    .note-container {
      grid-row: span 2;

      div {
        height: 100%;
      }
    }
  }

  .button-container {
    margin-top: 48px;
    margin-inline: auto;
    width: 40%;
  }
}
