@import "../../style/variables";

.button {
  position: relative;
  width: 100%;
  background-color: $green;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Montserrat";
  border: none;
  cursor: pointer;

  div {
    color: $gray;
  }

  &:disabled {
    opacity: 50%;
  }

  .pending {
    opacity: 0;
  }
}

.button-sm {
  padding: 14px 24px;
}

.button-md {
  padding: 24px 40px;
}
