@import "../../style/variables";

.button {
  position: relative;
  width: 100%;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Montserrat";
  border: none;
  cursor: pointer;
  white-space: nowrap;

  &:disabled {
    opacity: 50%;
    cursor: default;
  }

  .pending {
    opacity: 0;
  }

  @include sm {
    font-size: 1rem;
  }
}

.secondary {
  background-color: transparent;
  border: 1px solid $smoke;
  div {
    color: $smoke;
  }
}

.primary {
  background-color: $green;
  border: 1px solid none;
  div {
    color: $gray;
  }
}

.button-sm {
  padding: 14px 24px;
}

.button-md {
  padding: 24px 40px;
}

@media (max-width: 426px) {
  .button {
    font-size: 1rem;
  }

  .button-sm {
    padding: 10px 20px;
  }
  .button-md {
    padding: 15px 20px;
  }
}
