// Font imports
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Sharpie";
  src: url(./assets/fonts/Sharpie-Variable.ttf);
}

@font-face {
  font-family: "Signika";
  src: url(./assets/fonts/Signika.ttf);
}
@import "./style/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
button {
  color: $dark;
}
button{
  border: none;
}