@import "../../style/variables";

.rsvp-container,
.tracker-container {
  .header-container {
    box-shadow: 0px 4px 6px 2px #0000001a;
  }

  .previous-events-header {
    padding: 40px 64px 20px 64px;

    @include sm {
      padding: 16px 20px;
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
    }
  }

  .events-list {
    padding: 42px 64px;
    display: flex;
    align-items: center;
    gap: 40px;

    .no-rsvps {
      span {
        font-size: 1.5rem;
        font-weight: 500;
        font-family: "Montserrat";
        color: $green;
      }
    }

    @include sm {
      padding: 20px 16px;
    }
  }

  .no-event {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-family: "Montserrat", sans-serif;
      font-size: 1.5rem;
      font-weight: 500;

      @include sm {
        font-size: 1rem;
      }
    }

    @include sm {
      padding-top: 16px;
    }
  }
  .rsvp-form-section {
    padding: 40px 64px;

    button {
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        span {
          color: white;
        }
      }

      .pen-icon {
        color: white;
      }
    }

    .rsvp-form-container {
      margin-top: 60px;
    }

    @include sm {
      padding: 16px 20px;
    }
  }
}
